footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__data {
  position: absolute;
  bottom: 10px;
  width: 30%;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  text-align: center;
  color: #7bd4eb;
  background-color: rgba(131, 136, 137, 0.7);
  box-shadow: 0 0 10px 1px #7bd4eb;
}

.footer__icon {
  margin-left: 5px;
  color: #de14b9;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: transform var(--animation-duration) var(--timing-function);
}

.footer__icon:hover {
  box-shadow: 0 0 13px 3px #de14b9;
  transform: scale(1.3);
}
