.contacts {
  font-size: 20px;
  padding: 10px;
  margin-bottom: 15px;
  margin-top: 0;
}

.contacts__item {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.contacts__message {
  color: var(--primary-text-color);
  font-size: 24px;
  text-align: center;
}
